@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .bg-hero-gradient {
    background: url("/images/gradient.svg"), url("/images/ellipse.svg"), url("/images/sparkles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, center, center;
  }
}
